h1, h2, h3, h4, h5 {
  font-weight: 700;
}

h2.title {
  margin: 30px 0;
  font-size: 36px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.1em;
  letter-spacing: -1px;
}

p {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
}

header {
  margin: 10px 0;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.sidebar p {
  font-size: 14px;
}

.sidebar ul {
  margin: 0;
}

.sidebar ul li {
  list-style-type: none;
}

.sidebar ul.tags li {
  display: inline-block;
  margin-bottom: 5px;
}

ul.archive {
  margin: 0;
  padding: 0;
}
ul.archive li {
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
  text-align: left;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.3em;
  color: #666;
}
ul.archive li span {
  float: right;
  font-size: 14px;
  padding-left: 10px;
  color: #ccc;
}

.posts {
  margin-bottom: 15px;
  padding: 0 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 6px #ccc;
}
.post p {
  text-align: justify;
}
.post blockquote {
  font-style: italic;
}

.post h1 {
  margin-bottom: 0;
  text-align: center;
  font-size: 32px;
}
.post .date {
  font-size: 14px;
  text-align: center;
  padding-left: 10px;
  margin-bottom: 20px;
}
.post ul.tags {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0;
}
.post ul.tags li {
  display: inline-block;
  font-size: 12px;
}
.pagination {
  text-align: center;
}

p.credits {
  margin-top: 30px;
}